# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# Testing
.pytest_cache/

# Build files
dist/
build/
*.egg-info/
